.List {
	width: 100%;

	&--empty {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		height: 100vh;
		padding: 8px;
		margin: 0;
		list-style: none;;
		overflow-y: auto;

		@media (max-width: 800px) {
			height: 320px;
		}
	}

	&__item {
		margin-bottom: 16px;
		z-index: 1;
	}
}
