.List {
	width: 100%;

	&--empty {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		height: 100vh;
		padding: spacing('sm');
		margin: 0;
		list-style: none;
		overflow-y: auto;

		@media (max-width: $responsive-mobile) {
			height: 320px;
		}
	}

	&__item {
		margin-bottom: spacing('md');
		z-index: 1;
	}
}
