.Card {
	width: 100%;
	display: grid;
	grid-template-columns: $image-sizes auto;
	grid-template-rows: $image-sizes;
	column-gap: spacing('sm');
	border-radius: $border-radius;
	background: $color-light;
	cursor: pointer;

	&--read {
		opacity: 0.5;
	}

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 16px 10px $color-shadow;
	}

	&__tooltip {
		position: relative;
		display: inline-block;

		> .tooltiptext {
			visibility: hidden;
			background: $color-grey-1;
			color: $color-light;
			border-radius: $border-radius;
			padding: spacing('sm');
			position: absolute;
			z-index: 2;
		}

		&:hover {
			> .tooltiptext {
				visibility: visible;
			}
		}
	}

	&__image {
		background-size: cover !important;
		background-position: center !important;
	}

	&__info {
		padding: spacing('sm') 0;
		padding-right: spacing('sm');
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__description {
		display: grid;
		grid-template-rows: auto auto;
	}

	&__chip {
		display: flex;
		justify-content: flex-end;
	}
}
