$image-height: 400px;
.Article {
	width: 100%;
	height: 100vh;
	overflow-y: auto;

	@media (max-width: $responsive-mobile) {
		height: auto;
	}

	&--empty {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $responsive-mobile) {
			height: 200px;
		}
	}

	&__imageWrapper {
		height: $image-height;
		background: $color-gradient;
		padding-bottom: spacing('sm');
	}

	&__image {
		width: 100%;
		height: $image-height;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-bottom: spacing('lg');
	}

	&__details {
		display: flex;
		padding: spacing('sm');

		> p {
			background: $color-light;
			padding: spacing('xs') spacing('sm');
			margin-right: spacing('sm');
			border-radius: $border-radius;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__content {
		padding: 0 spacing('md');
		padding-bottom: spacing('md');
		> p:last-child {
			margin-top: spacing('lg');
			text-align: justify;
		}
	}

	&__link {
		text-decoration: none;
		color: $color-blue-dark;
		cursor: pointer;

		> p {
			display: inline-block;
		}
	}
}
